// ----------------------------------------------------------------------------
// Widget-stmulti styles
// ----------------------------------------------------------------------------
// Widget to display SmartThings SmartSense Garage  Door Multi switch
.widget-stmulti {

  .title {
    color: #fff;
  }

  .icon-open {
  	color: #ff00aa;
  }

  .icon-closed {
  	color: #888888;
  }

  .state {
    display: inline-block;
    margin-bottom: 5px;
    color: rgba(255,255,255,0.7);
  }
  /*
  .temp {
    display: inline-block;
    position: absolute;
    bottom: 0px;
    left: 6px;
    color: rgba(255,255,255,0.7);
  }
  
  .tempunit {
    display: inline-block;
    position: absolute;
    bottom: 0px;
    left: 24px;
    color: rgba(255,255,255,0.7);
  }
  
  .battery {
    display: inline-block;
    position: absolute;
    bottom: 0px;
    right: 24px;
    color: rgba(255,255,255,0.7);
  }

  .batteryunit {
    display: inline-block;
    position: absolute;
    bottom: 0px;
    right: 6px;
    color: rgba(255,255,255,0.7);
  }
  */
  .secondary-unit {
    position: absolute;
    bottom: 0px;
    font-size: 25px;
    width: 32px;
    color: #888888;

    &.temp {
      right: 24px;

      .temp-unit {
        padding-top: 10px;
        padding-left: 30px;
      }
    }

    &.battery {
      left: 8px;

      .battery-unit {
        padding-top: 10px;
        padding-right: 30px;
      }
    }
  }

}
