<% content_for :title do %>HADashboard<% end %>

<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="clock" data-view="Clock"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="3">
      <div data-id="weather" data-view="Stweather"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="xmas1" data-view="Stswitch" data-title="Christmas Lights" data-device="xmas lights 1"></div>
    </li>
    
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="xmas2" data-view="Stswitch" data-title="Christmas Lights" data-device="xmas lights 2"></div>
    </li>
    
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="GarageBig" data-view="Stmulti" data-title="Garage Door 1" data-device="Garage - Big Door"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
      <div data-id="VideoFrontDoor" data-view="Stdimmer" data-title="Video Feed - Front Door" data-device="VideoFrontDoor"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="brennabedroomlight" data-view="Stdimmer" data-title="Brenna Bedroom" data-device="Breanna Bedroom Light"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="kitchenapplianceswitch" data-view="Stswitch" data-title="Kitchen Crockpot" data-device="Kitchen Appliance Switch"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="GarageLittle" data-view="Stcontact" data-title="Garage Door 2" data-device="Garage - Little Door"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="mode" data-view="Stmode" data-title="Current Mode"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="Front Door" data-view="Stcontact" data-title="Front Door" data-device="Front Door"></div>
    </li>
    
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="presence1" data-view="Stpresence" data-title="Dad" data-device="Andrew Buck's Android"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="presence2" data-view="Stpresence" data-title="Mom" data-device="Karoline's iPhone"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="presence3" data-view="Stpresence" data-title="Kira" data-device="Kira's Backpack"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="presence4" data-view="Stpresence" data-title="Brenna" data-device="Brenna's Backpack"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="presence5" data-view="Stpresence" data-title="Thatcher" data-device="Thatcher's Backpack"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="Back Door" data-view="Stcontact" data-title="Back Door" data-device="Back Door"></div>
    </li>

  </ul>
</div>

<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="text2" data-view="Text" data-text="Dashboard 2" ></div>
    </li>
	  <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="cpage3" data-view="Changepage" data-icon="arrow-left" data-title="Back" data-page="1"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="reload" data-view="Reload"></div>
    </li>
 </ul>
</div>
